<div
  id="tab-content"
  role="tabpanel"
  class="tab-content grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4"
>
  {{#each posts}}
  <a href="{{url}}" class="no-underline bg-white p-4 rounded shadow-md">
    <div class="relative w-full aspect-square">
      <img
        src="{{imageUrl}}"
        alt="Podcast logo"
        class="w-full h-full object-cover rounded-t-md"
      />
    </div>
    <h2 class="text-xl font-bold mt-4 line-clamp-3">{{ title }}</h2>
    <p class="line-clamp-6">{{ chartersDescription }}</p>
  </a>
  {{/each}}
</div>
