<div>
  <div class="w-full md:w-7/10 bg-random2">
    <h2 class="text-2xl font-bold mb-2 text-black-500">{{ title }}</h2>
  </div>

  <div class="w-full aspect-video bg-black">
    <iframe
      src="https://www.youtube.com/embed/{{ videoId }}"
      width="100%"
      height="50%"
      title="YouTube video"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>

  <div class="w-full sm:p-0 sm:m-0 mx-auto-2 lg:px-0">
    <div class="w-full sm:w-9/12 sm:p-0 sm:m-0 mx-auto-2 lg:px-0">
      <h2 class="text-xl font-bold mb-2 text-black-500">Опис</h2>
      <div class="description-container">{{{ description }}}</div>
    </div>
  </div>
</div>
