<div class="px-6">
  <div hx-trigger="update-progress from:body, load" hx-get="/admin/podcast/{{slug}}/progress" hx-swap="innerHTML"></div>

  <div>
    <label for="episode_name" class="block text-black font-medium text-2xl mb-2">Name</label>
    <input type="text" id="episode_name" name="episode_name" class="input-field w-full" placeholder="Episode name"
      value="{{title}}" hx-put="/admin/podcast/{{slug}}/update-name" hx-trigger="keyup changed delay:500ms"
      hx-include="[name=episode_name]" hx-swap="none">
  </div>

  <div class="w-full sm:p-0 sm:m-0 mx-auto-2 lg:px-0">
    <div id="audio-player-container">
      <audio id="audio-player" controls class="w-full">
        <source src="{{audioUrl}}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="my-4">
    <h2 class="text-2xl">Time codes</h2>
    <div id="timecodes-list" class="grid grid-cols-1 gap-4 py-2">
      {{#each timecodes}}
      {{> editable_time_code}}
      {{/each}}
    </div>
    <button hx-target="#timecodes-list" hx-swap="beforeend" hx-post="/admin/podcast/{{slug}}/add-timecode"
      class="common-button w-full px-4 py-2 my-2">
      Add time code
    </button>
  </div>
  <div>
    <h2 class="text-2xl">Links</h2>
    <div id="links-list" class="grid grid-cols-1 gap-4 py-2">
      {{#each links}}
      {{> editable_link}}
      {{/each}}
    </div>
    <button hx-target="#links-list" hx-swap="beforeend" hx-post="/admin/podcast/{{slug}}/add-link"
      class="common-button w-full px-4 py-2 my-2">
      Add link
    </button>
  </div>

  {{> buttons/build_audio }}

  <h2 class="text-2xl">Preview episode</h2>
  <div class="border-2 border-black p-8 mt-2">
    <div hx-get="/podcast/{{slug}}?preview=true" hx-swap="innerHTML" hx-trigger="update-preview from:body, load"></div>
  </div>

  <div hx-get="/admin/podcast/{{slug}}/youtube-description" hx-swap="innerHTML"
    hx-trigger="update-preview from:body, load"></div>

  <div>
    {{> buttons/publish_button}}
  </div>

</div>
