<div class="p-2">
  <div class="grid grid-cols-1 gap-4">
    {{#each posts}}
    <div class="no-underline bg-white p-8 rounded shadow-md">
      <h2 class="text-xl font-bold line-clamp-3">{{title}}</h2>
      <p class="text-gray-600 mt-2">{{description}}</p>
    </div>
    {{/each}}
  </div>
  <button
    hx-swap="none"
    hx-post="{{performSyncUrl}}"
    class="common-button w-full px-4 py-2 my-2"
  >
    Run sync
  </button>
  <div class="text-gray-600 text-sm mt-2">
    Last playlist sync: {{lastSyncTime}}
  </div>
</div>
