<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pageTitle}}</title>
  <link href="/public/styles.css" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org@2.0.1"></script>
</head>

<body>
  <div class="bg-gray-100 text-gray-900 font-sans min-h-screen flex flex-col" id="#root">
    {{> admin_head}}

    <div class="container max-w-screen-xl mx-auto flex-grow">
      {{{ content }}}
    </div>

    <footer class="bg-black p-4 text-center mt-auto">
      <p class="text-white">&copy; 2024 DIY podcast hosting</p>
    </footer>
  </div>
</body>

</html>
