@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    @apply appearance-none;
    margin: 0;
  }

  input[type="number"] {
    @apply appearance-none;
    -moz-appearance: textfield;
    /* Firefox */
  }

  input:focus {
    @apply border-black;
  }

  input {
    @apply text-black;
  }

  .common-button {
    @apply bg-transparent text-black border border-black rounded;
  }

  .common-button:hover {
    @apply bg-black text-white;
  }

  .common-button:disabled {
    @apply bg-transparent text-gray-400 border border-black;
  }

  .common-button:disabled:hover {
    @apply bg-transparent text-gray-400 border border-black;
  }
}

html {
  @apply overflow-y-scroll;
}

.selected {
  @apply bg-green-500 text-white;
}

.input-field {
  @apply rounded py-2 px-3 leading-tight
}

@keyframes progress {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

.progress-bar {
  width: 100%;
  animation: progress 2s infinite linear;
}
