@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        @apply appearance-none;
        margin: 0;
    }

    input[type="number"] {
        @apply appearance-none;
        -moz-appearance: textfield; /* Firefox */
    }

    input:focus {
        @apply border-black;
    }
    input {
        @apply text-black;
    }
}

html {
    @apply overflow-y-scroll;
}

.selected {
    @apply bg-green-500 text-white;
}

.input-field {
    @apply rounded py-2 px-3 leading-tight 
}

