@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        @apply appearance-none;
        margin: 0;
    }

    input[type="number"] {
        @apply appearance-none;
        -moz-appearance: textfield; /* Firefox */
    }
}

html {
    @apply overflow-y-scroll;
}

.selected {
    @apply bg-green-500 text-white;
}

.input-field {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight
}

.htmx-indicator {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.htmx-request .htmx-indicator {
    opacity: 1;
}

.htmx-request.htmx-indicator {
    opacity: 1;
}
